body {
    background: #d9d9d9;
}

header {
    background: #525252;
    padding: 8px;
}

.header img {
    vertical-align: middle;
}

header span {
    color: white;
    font-size: 25px;
     vertical-align: middle;
}

nav ul {
    list-style: none;
    margin: 15px 0 0 0;
}

nav ul li {
    display: inline;
    padding:0 10px;
}

li.first {
    padding-left: 0;
}

li.last {
    padding-right: 0;
}

nav ul li a {
    color: #bedf02;
}

nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}

section.splash {
    background: url('../images/splash.png');
    background-size: cover;
    max-height: 433px;
    text-align: center;
    color: white;
    padding: 150px 0 150px 0;
}

.left {
    float: left;
}

.halfimg {
    width: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.halfimg img {
    max-width: 700px;
    max-height: 400px;
}

.halfimg:hover .hover-effect {
    display: block;
}

.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;   
}

.hover-effect div {
    margin: 0 auto;
    width: 60%;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}

.hover-effect:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover-effect span {
    font-size: 40px;
    text-transform: uppercase;
}

.fade {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
     opacity: 0.9;
}

.hover-effect hr {
    margin: 10px 0 10px 0;
    color: #bedf02;
    border: #bedf02 1px solid;
}

blockquote {
    font-size: 1em;
    color: #888;
    font-weight: normal;
    border-left: none;
}

.main {
    background: white;
}

.flex-control-paging li a {
    background: #cccccc;
}

.flex-control-paging li a.flex-active {
    background: #bedf02;
}

.google-maps {
    position: relative;
    padding-bottom: 0.01em; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

google-maps div {
    margin: 0;
}

.icon {
    font-size: 44px;
    color: #b2b2b2;
}

.contact_info {
    text-align: center;
    padding:50px 0 50px 0;
    background: white;
    line-height: 1em;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.social {
    text-align: center;
    padding:50px 0 50px 0;
}

.social li {
    display: inline;
    padding: 0 20px;
}

.green {
    color: #bedf02;
}

.title {
    text-align: center;
}

.white {
    color: white;
}

.footer {
    background: white;
    padding: 50px 0 50px 0;
}

.green-border {
    border-bottom: 1px solid #bedf02;
    padding: 0 0 5px 0;
}

.footer ul li {
    padding: 5px 0 5px 0;
    border-top: 1px solid #ccc;
}

.footer ul li.last {
    padding-bottom: 0;
}
#footer-logo {
    text-align: right;
    padding-top: 50px;
}

h4 {
    text-transform: uppercase;
}

.body {
    background: url('../images/splash.png')no-repeat;
    padding: 100px 20px 20px 20px;
    background-size: 100%;
}

.whitebody {
    background: white;
    padding:50px;
}

.justify{
    text-align: justify;
}


.padder {
    padding: 10px 0;
    font-style: italic;
    color: #bedf02;
    text-align: right;
}


/****************************************************************************************/
.info:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 13px;
    margin-left: -13px;
}

.miniTitle {
    color: #ccc;
}

.blogImg {
    position: relative;
    color: white;
    font-size: 70px;
    cursor: pointer;
}

.blogImg:hover .blogOverlay {
    display: block;
}

.blogOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.blogOverlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fade {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/*************************************************************************************************/
#search {
    
}

#search input {
	background: none repeat scroll 0 0 #eee;
	border: 0 none;
	color: #7F7F7F;
	float: left;
	font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;
	height: 20px;
	margin: 0;
	padding: 20px;
	transition: background 0.3s ease-in-out 0s;
        width: 200px;
}

#search button {
	background: url("../img/search.png") no-repeat scroll center center #7eac10;
	cursor: pointer;
	height: 40px;
	text-indent: -99999em;
	transition: all 0.3s ease-in-out 0s;
	width: 40px;
	border: 2px solid #7eac10;
}

#search button:hover {
    background-color:#000;
    border: 2px solid #000;
}

.search {
    margin-top: 0;
    padding-top: 10px;
    line-height: 0;
    margin-bottom: 30px;
}

.widget ul li {
    line-height: 60px;
    border-top: 1px solid #f0f0f0;
    font-size: 18px;
}

.faqs{
    padding-top:20px;
}

.faqs dt{
    font-weight:bold;
    padding:15px 0 15px 30px;
    position:relative;
    border-top: 1px solid #ccc;
}

.faqs dt:hover{
    cursor:pointer;
}

.faqs dd{
    padding:0 0 20px 30px;
    position:relative;color:#333;    
}

.faqs .hover{
    color:#990000;
    text-decoration:underline;
}

.circle-text {
    width:30px;
    float: left;
    margin-right: 8px;
    margin-top: -5px;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}